.fullHeightImage {
  height: 75vh;  /* 75% of the viewport's height */
  width: auto;   /* Adjust width proportionally */
  display: block; /* To remove any space below the image */
  margin: auto; /* Center the image if its width is smaller than its container */
}